//media queries

@media screen and (max-width: 900px) {
  .containerImg {
    display: grid;
    grid-template-areas:
      "loNuevo loNuevo"
      "boxImg1 boxImg2"
      "boxImg3 boxImg4"
      "inicioCategorias inicioCategorias"
      "boxImg5 boxImg6"
      "boxImg7 boxImg8"
      "loMasVendido loMasVendido"
      "boxImg9 boxImg10"
      "boxImg11 boxImg12";
    justify-content: center;
    row-gap: 10px;
  }

  .lines-effects {
    display: inline-block;
    position: relative;
  }

  .lines-effects::after,
  .lines-effects::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: rgba(68, 68, 68, 100);
    top: 0.6em;
  }

  .lines-effects::before {
    left: -10px;
  }

  .lines-effects::after {
    right: -10px;
  }

  .img-nav {
    display: none;
  }

  .titulo-nav {
    display: block;
  }

  .descuento {
    width: 100%;
    height: 100%;
  }

  .imgCategorias {
    margin-left: 20%;
    width: 70%;
  }
  .imgNuevo {
    margin-left: 20%;
    width: 70%;
  }
  .imgloMasVendido {
    margin-left: 20%;
    width: 70%;
  }
  // responsive categorias
  .containerCategorias {
    display: none;
  }

  .containerFiltros {
    display: none;
  }
  .containerCatalogo {
    display: grid;
    grid-template-areas:
      "cajaImg1 cajaImg2 cajaImg3"
      "parrafo1 parrafo2 parrafo3"
      "cajaImg4 cajaImg5 cajaImg6"
      "parrafo4 parrafo5 parrafo6"
      "cajaImg7 cajaImg8 cajaImg9"
      "parrafo7 parrafo8 parrafo9"
      "cajaImg10 cajaImg11 cajaImg12"
      "parrafo10 parrafo11 parrafo12";
    justify-content: center;
    gap: 10px;
    row-gap: 20px;
  }
  .tituloCatalogo {
    font-size: 25px;
  }
  img {
    margin-left: 10px;
    width: 100%;
    height: 100%;
  }

  //responsive medios de pago

  .tituloMediosDePago {
    font-size: 25px;
  }
  .subTituloPagos {
    font-size: 16px;
  }
  .liMediosDePago {
    font-size: 14px;
  }
  h4 {
    font-size: 16px;
  }
  .parrafoMediosDePago {
    font-weight: bold;
    font-size: 14px;
  }

  //responsive sobre nosotros

  .containerSobreNosotros {
    display: grid;
    grid-template-areas:
      "textSobreNosotros textSobreNosotros textSobreNosotros"
      "imgSobreNosotros imgSobreNosotros imgSobreNosotros"
      "imgSobreNosotros1 imgSobreNosotros2 imgSobreNosotros2"
      "tituloCalidad tituloPrecios imgSobreNosotros3"
      "tituloSeguridad tituloSeguridad tituloSeguridad"
      "calidad precios seguridad";
    justify-content: center;
  }
  .imgInicioSobreNosotros {
    width: 100%;
    height: 50vh;
  }

  .imgManiqui {
    width: 35%;
    margin-left: 40%;
  }

  .imgEtiqueta {
    width: 20%;
  }

  .imgCandado {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .tituloIndex {
    color: white;
    text-align: center;
  }

  .imgMenuMobileC {
    width: 15%;
  }
  .lines-effects {
    display: inline-block;
    position: relative;
  }

  .lines-effects::after,
  .lines-effects::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: rgba(68, 68, 68, 100);
    top: 0.6em;
  }

  .lines-effects::before {
    left: -120px;
  }

  .lines-effects::after {
    right: -120px;
  }

  .containerImg {
    display: grid;
    grid-template-areas:
      "loNuevo"
      "boxImg1"
      "boxImg2"
      "boxImg3"
      "boxImg4"
      "inicioCategorias"
      "boxImg5"
      "boxImg6"
      "boxImg7"
      "boxImg8"
      "loMasVendido"
      "boxImg9"
      "boxImg10"
      "boxImg11"
      "boxImg12";
    justify-content: center;
  }

  .imgMenu {
    display: block;
    margin-left: 25%;
  }
  .imgCategorias {
    margin-left: 25%;
    width: 50%;
  }
  .imgNuevo {
    margin-left: 25%;
    width: 50%;
  }
  .imgloMasVendido {
    margin-left: 25%;
    width: 50%;
  }

  .navLabel {
    display: block;
    cursor: pointer;
  }
  .nav {
    display: flex;
    justify-content: center;
  }
  .navMenu {
    position: absolute;
    top: 80px;
    bottom: 0;
    background-color: white;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    opacity: 0.9;
  }

  .navInput:checked + .navMenu {
    clip-path: circle(100% at center);
  }
  // Responsive catalogo

  .containerCategorias {
    display: none;
  }

  .containerFiltros {
    display: none;
  }
  .containerCatalogo {
    display: grid;
    grid-template-areas:
      "cajaImg1 cajaImg2"
      "parrafo1 parrafo2"
      "cajaImg3 cajaImg4"
      "parrafo3 parrafo4"
      "cajaImg5 cajaImg6"
      "parrafo5 parrafo6"
      "cajaImg7 cajaImg8"
      "parrafo7 parrafo8"
      "cajaImg9 cajaImg10"
      "parrafo9 parrafo10"
      "cajaImg11 cajaImg12"
      "parrafo11 parrafo12";
    justify-content: center;
    gap: 10px;
    row-gap: 20px;
  }

  //responsive medios de pago

  .tituloMediosDePago {
    font-size: 20px;
  }
  .subTituloPagos {
    font-size: 14px;
  }
  .liMediosDePago {
    font-size: 12px;
  }
  h4 {
    font-size: 14px;
  }
  .parrafoMediosDePago {
    font-weight: bold;
    font-size: 12px;
  }
  .diasHabiles {
    font-size: 16px;
  }

  //responsive sobre nosotros

  .containerSobreNosotros {
    display: grid;
    grid-template-areas:
      "textSobreNosotros "
      "imgSobreNosotros"
      "imgSobreNosotros1"
      "tituloCalidad"
      "calidad"
      "imgSobreNosotros2"
      "tituloPrecios"
      "precios"
      "imgSobreNosotros3"
      "tituloSeguridad"
      "seguridad";
    justify-content: center;
  }

  .imgInicioSobreNosotros {
    width: 100%;
    height: 40vh;
  }

  .imgManiqui,
  .imgEtiqueta,
  .imgCandado {
    width: 15%;
    margin-left: 40%;
  }

  .tituloCalidad,
  .tituloPrecios,
  .tituloSeguridad {
    font-size: 20px;
  }

  .calidad,
  .precios,
  .seguridad {
    font-size: 14px;
  }
}
