//variables
$color-principal-fondo: black;
$color-titulo: white;
$fuente-principal: Helvetica, sans-serif;

//mixin

@mixin flex {
  display: flex;
  justify-content: center;
}

@mixin imagenes {
  display: block;
  width: 70%;
  margin: auto;
}

@mixin size($widht, $height) {
  height: $height;
  width: $widht;
}

//mapas

$envios: (
  color-envios: black,
  bg-envios: white,
);

//extends

%font-weight {
  font-weight: bold;
  color: white;
}

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// propiedades del index

body {
  background-color: $color-principal-fondo;
  font-family: $fuente-principal;
}

h1 {
  text-align: center;
  color: $color-titulo;
  margin: 20px;
  padding: 10px;
}

.envios {
  background-color: map-get($map: $envios, $key: bg-envios);
  color: map-get($map: $envios, $key: color-envios);
  top: 0;
  @include flex;
  font-weight: bold;
}

header {
  nav {
    div {
      .titulo-nav {
        display: block;
      }
    }
  }
}

.nav-link:hover {
  background-color: gray;
  opacity: 20px;
  transform: scale(1);
  transition: 0.7s;
  border-radius: 10px;
  max-width: max-content;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 1.8rem;
}

.descuento {
  width: 100%;
  height: 70vh;
}

.containerImg {
  display: grid;
  grid-template-areas:
    "loNuevo loNuevo loNuevo loNuevo"
    "boxImg1 boxImg2 boxImg3 boxImg4"
    "inicioCategorias inicioCategorias inicioCategorias inicioCategorias"
    "boxImg5 boxImg6 boxImg7 boxImg8"
    "loMasVendido loMasVendido loMasVendido loMasVendido"
    "boxImg9 boxImg10 boxImg11 boxImg12";
  justify-content: center;

  .loNuevo {
    grid-area: loNuevo;
  }
  .inicioCategorias {
    grid-area: inicioCategorias;
  }
  .loMasVendido {
    grid-area: loMasVendido;
  }
  .boxImg1 {
    grid-area: boxImg1;
    .imgNuevo {
      border: 8px solid white;
      border-radius: 10px;
      display: block;
      margin-left: 10%;
      @include size(247px, 300px);
    }
  }
  .boxImg2 {
    grid-area: boxImg2;
    .imgNuevo {
      border: 8px solid white;
      border-radius: 10px;
      display: block;
      margin-left: 10%;
      @include size(247px, 300px);
    }
  }
  .boxImg3 {
    grid-area: boxImg3;
    .imgNuevo {
      border: 8px solid white;
      border-radius: 10px;
      display: block;
      margin-left: 10%;
      @include size(247px, 300px);
    }
  }
  .boxImg4 {
    grid-area: boxImg4;
    .imgNuevo {
      border: 8px solid white;
      border-radius: 10px;
      display: block;
      margin-left: 10%;
      @include size(247px, 300px);
    }
  }
  .boxImg5 {
    grid-area: boxImg5;
    .imgCategorias {
      border: 8px solid white;
      border-radius: 10px;
      margin-left: 10%;
      width: 80%;
    }
    .aCategorias:hover {
      display: block;
      transform: scale(1.07);
      transition: 0.8s;
    }
  }
  .boxImg6 {
    grid-area: boxImg6;
    .imgCategorias {
      border: 8px solid white;
      border-radius: 10px;
      margin-left: 10%;
      width: 80%;
    }
    .aCategorias:hover {
      display: block;
      transform: scale(1.07);
      transition: 0.8s;
    }
  }
  .boxImg7 {
    grid-area: boxImg7;
    .imgCategorias {
      border: 8px solid white;
      border-radius: 10px;
      margin-left: 10%;
      width: 80%;
    }
    .aCategorias:hover {
      display: block;
      transform: scale(1.07);
      transition: 0.8s;
    }
  }
  .boxImg8 {
    grid-area: boxImg8;
    .imgCategorias {
      border: 8px solid white;
      border-radius: 10px;
      margin-left: 10%;
      width: 80%;
    }
    .aCategorias:hover {
      display: block;
      transform: scale(1.07);
      transition: 0.8s;
    }
  }
  .boxImg9 {
    grid-area: boxImg9;
    .imgloMasVendido {
      border: 8px solid white;
      border-radius: 10px;
      margin-left: 10%;
      @include size(247px, 300px);
    }
  }
  .boxImg10 {
    grid-area: boxImg10;
    .imgloMasVendido {
      border: 8px solid white;
      border-radius: 10px;
      margin-left: 10%;
      @include size(247px, 300px);
    }
  }
  .boxImg11 {
    grid-area: boxImg11;
    .imgloMasVendido {
      border: 8px solid white;
      border-radius: 10px;
      margin-left: 10%;
      @include size(247px, 300px);
    }
  }
  .boxImg12 {
    grid-area: boxImg12;
    .imgloMasVendido {
      border: 8px solid white;
      border-radius: 10px;
      margin-left: 10%;
      @include size(247px, 300px);
    }
  }
}

//propiedades catalogo

.tituloCatalogo{
  font-weight: bold;
}

.containerCatalogo {
  display: grid;
  grid-template-areas:
    "contenedorTodo cajaImg1 cajaImg2 cajaImg3"
    "contenedorTodo parrafo1 parrafo2 parrafo3"
    "contenedorTodo cajaImg4 cajaImg5 cajaImg6"
    "contenedorTodo parrafo4 parrafo5 parrafo6"
    "contenedorTodo cajaImg7 cajaImg8 cajaImg9"
    "contenedorTodo parrafo7 parrafo8 parrafo9"
    "contenedorTodo cajaImg10 cajaImg11 cajaImg12"
    "contenedorTodo parrafo10 parrafo11 parrafo12";
  justify-content: center;
  gap: 20px;
  row-gap: 30px;
  .contenedorTodo {
    grid-area: contenedorTodo;
    .containerCategorias {
      .categoriaTitulo {
        text-align: start;
        font-size: 20px;
        color: white;
      }
      .categorias {
        color: white;
        font-size: 16px;
        margin: 10px;
        list-style: none;
        margin-top: 40px;
        li {
          margin: 15px;
        }
      }
    }
    .containerFiltros {
      .filtroTitulo {
        text-align: start;
        font-size: 20px;
        color: white;
      }
      .filtros {
        color: white;
        font-size: 16px;
        margin: 15px;
        list-style: none;
        margin-top: 40px;
      }
    }
  }
  .boxCatalogo:hover {
    display: block;
    transform: scale(1.07);
    transition: 0.4s;
  }
  .cajaImg1 {
    grid-area: cajaImg1;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo1 {
      @extend %font-weight;
      grid-area: parrafo1;
    }
  }
  .cajaImg2 {
    grid-area: cajaImg2;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo2 {
      @extend %font-weight;
      grid-area: parrafo2;
    }
  }
  .cajaImg3 {
    grid-area: cajaImg3;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo3 {
      @extend %font-weight;
      grid-area: parrafo3;
    }
  }
  .cajaImg4 {
    grid-area: cajaImg4;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo4 {
      @extend %font-weight;
      grid-area: parrafo4;
    }
  }
  .cajaImg5 {
    grid-area: cajaImg5;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo5 {
      @extend %font-weight;
      grid-area: parrafo5;
    }
  }
  .cajaImg6 {
    grid-area: cajaImg6;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo6 {
      @extend %font-weight;
      grid-area: parrafo6;
    }
  }
  .cajaImg7 {
    grid-area: cajaImg7;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo7 {
      @extend %font-weight;
      grid-area: parrafo7;
    }
  }
  .cajaImg8 {
    grid-area: cajaImg8;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo8 {
      @extend %font-weight;
      grid-area: parrafo8;
    }
  }
  .cajaImg9 {
    grid-area: cajaImg9;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo9 {
      @extend %font-weight;
      grid-area: parrafo9;
    }
  }
  .cajaImg10 {
    grid-area: cajaImg10;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo10 {
      @extend %font-weight;
      grid-area: parrafo10;
    }
  }
  .cajaImg11 {
    grid-area: cajaImg11;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo11 {
      @extend %font-weight;
      grid-area: parrafo11;
    }
  }
  .cajaImg12 {
    grid-area: cajaImg12;
    border: 6px solid white;
      border-radius: 10px;
    .parrafo12 {
      @extend %font-weight;
      grid-area: parrafo12;
    }
  }
}

// propiedades contacto

.tituloContacto {
  font-size: 30px;
  font-weight: bold;
}

.tituloNav {
  font-weight: bold;
}

label {
  margin: 10px;
  color: white;
  font-weight: bold;
}

p {
  color: white;
  margin: 10px;
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 12%;
  top: 0;
  height: 70%;
  width: 75%;
  position: absolute;
}

// footer

.footer-style {
  padding-top: 50px;
  background-color: black;
}
.footer-contacto {
  color: white;
}
.footer-contacto h2 {
  margin-bottom: 30px;
  font-weight: 800;
}
.footer-contacto .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}
.footer-contacto .footer-col {
  margin-bottom: 50px;
}
.footer-contacto .footer-below {
  padding: 25px 0;
  background-color: black;
}

.footer-col .icons{
  display: flex;
  justify-content: space-around;
}

// Propiedades Medios de Pago
.mediosDePago{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .subTituloPagos {
    margin-top: 3%;
    font-size: 18px;
    color: #496a81;
    text-align: center;
    font-family: "Dela Gothic One", cursive;
  }

  .ulMediosDePago {
    list-style: none;
    text-align: center;
    margin: 2%;
  }

  .liMediosDePago {
    margin: 4.5%;
    font-weight: bold;
    color: white;
    font-size: 18px;
  }

  span {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }

  h4 {
    margin-top: 3%;
    font-size: 18px;
    color: #496a81;
    text-align: center;
    font-family: "Dela Gothic One", cursive;
  }

  .parrafoMediosDePago {
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 18px;
  }

  .diasHabiles {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
  }
}

// Propiedades sobre nosotros

.containerSobreNosotros {
  display: grid;
  grid-template-areas:
    "textSobreNosotros imgSobreNosotros imgSobreNosotros"
    "imgSobreNosotros1 imgSobreNosotros2 imgSobreNosotros3"
    "tituloCalidad tituloPrecios tituloSeguridad"
    "calidad precios seguridad";
  justify-content: center;
  margin-top: 5%;
  h3 {
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 15%;
    text-align: center;
  }
  .textSobreNosotros {
    text-align: center;
    grid-area: textSobreNosotros;
    color: white;
    font-weight: bold;
  }

  .spanSobreNosotros {
    margin-top: 20px;
  }

  .imgSobreNosotros {
    grid-area: imgSobreNosotros;
  }

  .imgInicioSobreNosotros {
    margin: auto;
    width: 100%;
    height: 60vh;
  }

  .imgSobreNosotros1 {
    grid-area: imgSobreNosotros1;
  }

  .imgManiqui {
    margin-left: 35%;
    width: 25%;
  }

  .imgSobreNosotros2 {
    grid-area: imgSobreNosotros2;
  }

  .imgEtiqueta {
    margin-left: 35%;
    width: 25%;
  }

  .imgSobreNosotros3 {
    grid-area: imgSobreNosotros3;
  }

  .imgCandado {
    margin-left: 35%;
    width: 25%;
  }

  .tituloCalidad {
    text-align: center;
    grid-area: tituloCalidad;
  }
  .tituloPrecios {
    text-align: center;
    grid-area: tituloSeguridad;
  }

  .tituloSeguridad {
    text-align: center;
    grid-area: tituloSeguridad;
  }

  .calidad {
    text-align: center;
    color: white;
    font-weight: bold;
    grid-area: calidad;
  }

  .precios {
    text-align: center;
    color: white;
    font-weight: bold;
    grid-area: precios;
  }

  .seguridad {
    text-align: center;
    color: white;
    font-weight: bold;
    grid-area: seguridad;
  }
}

//mediaqueries

@media screen and (max-width: 900px) {
  .containerImg {
    display: grid;
    grid-template-areas:
      "loNuevo loNuevo"
      "boxImg1 boxImg2"
      "boxImg3 boxImg4"
      "inicioCategorias inicioCategorias"
      "boxImg5 boxImg6"
      "boxImg7 boxImg8"
      "loMasVendido loMasVendido"
      "boxImg9 boxImg10"
      "boxImg11 boxImg12";
    justify-content: center;
    row-gap: 10px;
  }

  .img-nav {
    display: none;
  }

  .titulo-nav {
    display: block;
  }

  .descuento {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .imgCategorias {
    margin-left: 20%;
    width: 70%;
  }

  .boxImg1,
  .boxImg2,
  .boxImg3,
  .boxImg4,
  .boxImg9,
  .boxImg10,
  .boxImg11,
  .boxImg12 {
    @include imagenes;
  }

  .imgNuevo {
    margin-left: 50%;
    width: 70%;
  }

  .imgloMasVendido {
    margin-left: 20%;
    width: 70%;
  }

  .containerCategorias {
    display: none;
  }

  .containerFiltros {
    display: none;
  }

  .containerCatalogo {
    display: grid;
    grid-template-areas:
      "cajaImg1 cajaImg2 cajaImg3"
      "parrafo1 parrafo2 parrafo3"
      "cajaImg4 cajaImg5 cajaImg6"
      "parrafo4 parrafo5 parrafo6"
      "cajaImg7 cajaImg8 cajaImg9"
      "parrafo7 parrafo8 parrafo9"
      "cajaImg10 cajaImg11 cajaImg12"
      "parrafo10 parrafo11 parrafo12";
    justify-content: center;
    gap: 10px;
    row-gap: 20px;
    .tituloCatalogo {
      font-size: 25px;
    }
  
    img {
      max-width: auto;
      width: 100%;
      height: 100%;
    }

    .contenedorTodo{
      display: none;
    }
  }

  

  .tituloMediosDePago {
    font-size: 25px;
  }

  .subTituloPagos {
    font-size: 16px;
  }

  .liMediosDePago {
    font-size: 14px;
  }

  h4 {
    font-size: 16px;
  }

  .parrafoMediosDePago {
    font-weight: bold;
    font-size: 14px;
  }

  .containerSobreNosotros {
    display: grid;
    grid-template-areas:
      "textSobreNosotros textSobreNosotros textSobreNosotros"
      "imgSobreNosotros imgSobreNosotros imgSobreNosotros"
      "imgSobreNosotros1 imgSobreNosotros2 imgSobreNosotros2"
      "tituloCalidad tituloPrecios imgSobreNosotros3"
      "tituloSeguridad tituloSeguridad tituloSeguridad"
      "calidad precios seguridad";
    justify-content: center;
  }

  .imgInicioSobreNosotros {
    max-height: 40vh;
    width: 100%;
    height: 50vh;
  }

  .imgManiqui {
    width: 35%;
    margin-left: 40%;
  }

  .imgEtiqueta {
    width: 20%;
  }

  .imgCandado {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .tituloIndex {
    color: white;
    text-align: center;
  }

  .containerImg {
    display: grid;
    grid-template-areas:
      "loNuevo"
      "boxImg1"
      "boxImg2"
      "boxImg3"
      "boxImg4"
      "inicioCategorias"
      "boxImg5"
      "boxImg6"
      "boxImg7"
      "boxImg8"
      "loMasVendido"
      "boxImg9"
      "boxImg10"
      "boxImg11"
      "boxImg12";
    justify-content: center;
  }

  .imgMenu {
    display: block;
    margin-left: 25%;
  }

  .imgCategorias {
    margin-left: 25%;
    width: 50%;
  }

  .imgNuevo {
    margin-left: 25%;
    width: 50%;
  }

  .imgloMasVendido {
    margin-left: 25%;
    width: 50%;
  }

  .navLabel {
    display: block;
    cursor: pointer;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .navMenu {
    position: absolute;
    top: 80px;
    bottom: 0;
    background-color: white;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
  }


  .containerCategorias {
    display: none;
  }

  .containerFiltros {
    display: none;
  }

  .containerCatalogo {
    display: grid;
    grid-template-areas:
      "cajaImg1 cajaImg2"
      "parrafo1 parrafo2"
      "cajaImg3 cajaImg4"
      "parrafo3 parrafo4"
      "cajaImg5 cajaImg6"
      "parrafo5 parrafo6"
      "cajaImg7 cajaImg8"
      "parrafo7 parrafo8"
      "cajaImg9 cajaImg10"
      "parrafo9 parrafo10"
      "cajaImg11 cajaImg12"
      "parrafo11 parrafo12";
    justify-content: center;
    gap: 10px;
    row-gap: 20px;
    .cajaImg1{
      max-width: auto;
    }


  }

  .tituloMediosDePago {
    font-size: 20px;
  }

  .subTituloPagos {
    font-size: 14px;
  }

  .liMediosDePago {
    font-size: 12px;
  }

  h4 {
    font-size: 14px;
  }

  .parrafoMediosDePago {
    font-weight: bold;
    font-size: 12px;
  }

  .diasHabiles {
    font-size: 16px;
  }

  .containerSobreNosotros {
    display: grid;
    grid-template-areas:
      "textSobreNosotros "
      "imgSobreNosotros"
      "imgSobreNosotros1"
      "tituloCalidad"
      "calidad"
      "imgSobreNosotros2"
      "tituloPrecios"
      "precios"
      "imgSobreNosotros3"
      "tituloSeguridad"
      "seguridad";
    justify-content: center;
  }

  .imgInicioSobreNosotros {
    width: 100%;
    height: 40vh;
  }

  .imgManiqui,
  .imgEtiqueta,
  .imgCandado {
    width: 15%;
    margin-left: 40%;
  }

  .tituloCalidad,
  .tituloPrecios,
  .tituloSeguridad {
    font-size: 20px;
  }

  .calidad,
  .precios,
  .seguridad {
    font-size: 14px;
  }
}
