.containerCatalogo .cajaImg1 .parrafo1, .containerCatalogo .cajaImg2 .parrafo2, .containerCatalogo .cajaImg3 .parrafo3, .containerCatalogo .cajaImg4 .parrafo4, .containerCatalogo .cajaImg5 .parrafo5, .containerCatalogo .cajaImg6 .parrafo6, .containerCatalogo .cajaImg7 .parrafo7, .containerCatalogo .cajaImg8 .parrafo8, .containerCatalogo .cajaImg9 .parrafo9, .containerCatalogo .cajaImg10 .parrafo10, .containerCatalogo .cajaImg11 .parrafo11, .containerCatalogo .cajaImg12 .parrafo12 {
  font-weight: bold;
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.envios {
  background-color: white;
  color: black;
  top: 0;
  display: flex;
  justify-content: center;
  font-weight: bold; }

h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 1.8rem; }

body {
  background-color: black;
  font-family: Helvetica, sans-serif; }

h1 {
  text-align: center;
  color: white;
  margin: 20px;
  padding: 10px; }

header nav div .titulo-nav {
  display: none; }

.descuento {
  width: 100%;
  height: 70vh; }

.containerImg {
  display: grid;
  grid-template-areas: "loNuevo loNuevo loNuevo loNuevo" "boxImg1 boxImg2 boxImg3 boxImg4" "inicioCategorias inicioCategorias inicioCategorias inicioCategorias" "boxImg5 boxImg6 boxImg7 boxImg8" "loMasVendido loMasVendido loMasVendido loMasVendido" "boxImg9 boxImg10 boxImg11 boxImg12";
  justify-content: center; }
  .containerImg .loNuevo {
    grid-area: loNuevo; }
  .containerImg .inicioCategorias {
    grid-area: inicioCategorias; }
  .containerImg .loMasVendido {
    grid-area: loMasVendido; }
  .containerImg .boxImg1 {
    grid-area: boxImg1; }
    .containerImg .boxImg1 .imgNuevo {
      display: block;
      margin-left: 10%;
      height: 300px;
      width: 247px; }
  .containerImg .boxImg2 {
    grid-area: boxImg2; }
    .containerImg .boxImg2 .imgNuevo {
      display: block;
      margin-left: 10%;
      height: 300px;
      width: 247px; }
  .containerImg .boxImg3 {
    grid-area: boxImg3; }
    .containerImg .boxImg3 .imgNuevo {
      display: block;
      margin-left: 10%;
      height: 300px;
      width: 247px; }
  .containerImg .boxImg4 {
    grid-area: boxImg4; }
    .containerImg .boxImg4 .imgNuevo {
      display: block;
      margin-left: 10%;
      height: 300px;
      width: 247px; }
  .containerImg .boxImg5 {
    grid-area: boxImg5; }
    .containerImg .boxImg5 .imgCategorias {
      margin-left: 10%;
      width: 80%; }
    .containerImg .boxImg5 .aCategorias:hover {
      display: block;
      transform: scale(1.07);
      transition: 0.8s; }
  .containerImg .boxImg6 {
    grid-area: boxImg6; }
    .containerImg .boxImg6 .imgCategorias {
      margin-left: 10%;
      width: 80%; }
    .containerImg .boxImg6 .aCategorias:hover {
      display: block;
      transform: scale(1.07);
      transition: 0.8s; }
  .containerImg .boxImg7 {
    grid-area: boxImg7; }
    .containerImg .boxImg7 .imgCategorias {
      margin-left: 10%;
      width: 80%; }
    .containerImg .boxImg7 .aCategorias:hover {
      display: block;
      transform: scale(1.07);
      transition: 0.8s; }
  .containerImg .boxImg8 {
    grid-area: boxImg8; }
    .containerImg .boxImg8 .imgCategorias {
      margin-left: 10%;
      width: 80%; }
    .containerImg .boxImg8 .aCategorias:hover {
      display: block;
      transform: scale(1.07);
      transition: 0.8s; }
  .containerImg .boxImg9 {
    grid-area: boxImg9; }
    .containerImg .boxImg9 .imgloMasVendido {
      margin-left: 10%;
      height: 300px;
      width: 247px; }
  .containerImg .boxImg10 {
    grid-area: boxImg10; }
    .containerImg .boxImg10 .imgloMasVendido {
      margin-left: 10%;
      height: 300px;
      width: 247px; }
  .containerImg .boxImg11 {
    grid-area: boxImg11; }
    .containerImg .boxImg11 .imgloMasVendido {
      margin-left: 10%;
      height: 300px;
      width: 247px; }
  .containerImg .boxImg12 {
    grid-area: boxImg12; }
    .containerImg .boxImg12 .imgloMasVendido {
      margin-left: 10%;
      height: 300px;
      width: 247px; }

.lines-effects {
  display: inline-block;
  position: relative; }

.lines-effects::after,
.lines-effects::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: #444444;
  top: 0.6em; }

.lines-effects::before {
  left: -140px; }

.lines-effects::after {
  right: -140px; }

.containerCatalogo {
  display: grid;
  grid-template-areas: "contenedorTodo cajaImg1 cajaImg2 cajaImg3" "contenedorTodo parrafo1 parrafo2 parrafo3" "contenedorTodo cajaImg4 cajaImg5 cajaImg6" "contenedorTodo parrafo4 parrafo5 parrafo6" "contenedorTodo cajaImg7 cajaImg8 cajaImg9" "contenedorTodo parrafo7 parrafo8 parrafo9" "contenedorTodo cajaImg10 cajaImg11 cajaImg12" "contenedorTodo parrafo10 parrafo11 parrafo12";
  justify-content: center;
  gap: 20px;
  row-gap: 30px; }
  .containerCatalogo .contenedorTodo {
    grid-area: contenedorTodo; }
    .containerCatalogo .contenedorTodo .containerCategorias .categoriaTitulo {
      text-align: start;
      font-size: 20px;
      color: white; }
    .containerCatalogo .contenedorTodo .containerCategorias .categorias {
      color: white;
      font-size: 16px;
      margin: 10px;
      list-style: none;
      margin-top: 40px; }
      .containerCatalogo .contenedorTodo .containerCategorias .categorias li {
        margin: 15px; }
    .containerCatalogo .contenedorTodo .containerFiltros .filtroTitulo {
      text-align: start;
      font-size: 20px;
      color: white; }
    .containerCatalogo .contenedorTodo .containerFiltros .filtros {
      color: white;
      font-size: 16px;
      margin: 15px;
      list-style: none;
      margin-top: 40px; }
  .containerCatalogo .boxCatalogo:hover {
    display: block;
    transform: scale(1.07);
    transition: 0.4s; }
  .containerCatalogo .cajaImg1 {
    grid-area: cajaImg1; }
    .containerCatalogo .cajaImg1 .parrafo1 {
      grid-area: parrafo1; }
  .containerCatalogo .cajaImg2 {
    grid-area: cajaImg2; }
    .containerCatalogo .cajaImg2 .parrafo2 {
      grid-area: parrafo2; }
  .containerCatalogo .cajaImg3 {
    grid-area: cajaImg3; }
    .containerCatalogo .cajaImg3 .parrafo3 {
      grid-area: parrafo3; }
  .containerCatalogo .cajaImg4 {
    grid-area: cajaImg4; }
    .containerCatalogo .cajaImg4 .parrafo4 {
      grid-area: parrafo4; }
  .containerCatalogo .cajaImg5 {
    grid-area: cajaImg5; }
    .containerCatalogo .cajaImg5 .parrafo5 {
      grid-area: parrafo5; }
  .containerCatalogo .cajaImg6 {
    grid-area: cajaImg6; }
    .containerCatalogo .cajaImg6 .parrafo6 {
      grid-area: parrafo6; }
  .containerCatalogo .cajaImg7 {
    grid-area: cajaImg7; }
    .containerCatalogo .cajaImg7 .parrafo7 {
      grid-area: parrafo7; }
  .containerCatalogo .cajaImg8 {
    grid-area: cajaImg8; }
    .containerCatalogo .cajaImg8 .parrafo8 {
      grid-area: parrafo8; }
  .containerCatalogo .cajaImg9 {
    grid-area: cajaImg9; }
    .containerCatalogo .cajaImg9 .parrafo9 {
      grid-area: parrafo9; }
  .containerCatalogo .cajaImg10 {
    grid-area: cajaImg10; }
    .containerCatalogo .cajaImg10 .parrafo10 {
      grid-area: parrafo10; }
  .containerCatalogo .cajaImg11 {
    grid-area: cajaImg11; }
    .containerCatalogo .cajaImg11 .parrafo11 {
      grid-area: parrafo11; }
  .containerCatalogo .cajaImg12 {
    grid-area: cajaImg12; }
    .containerCatalogo .cajaImg12 .parrafo12 {
      grid-area: parrafo12; }

.tituloContacto {
  font-size: 30px;
  font-weight: bold; }

.tituloNav {
  font-weight: bold; }

label {
  margin: 10px;
  color: white;
  font-weight: bold; }

p {
  color: white;
  margin: 10px; }

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/* footer */
.footer-style {
  padding-top: 50px;
  background-color: black; }

.footer-contacto {
  color: white; }

.footer-contacto h2 {
  margin-bottom: 30px;
  font-weight: 800; }

.footer-contacto .footer-above {
  padding-top: 50px;
  background-color: #2c3e50; }

.footer-contacto .footer-col {
  margin-bottom: 50px; }

.footer-contacto .footer-below {
  padding: 25px 0;
  background-color: black; }

div .subTituloPagos {
  margin-top: 3%;
  font-size: 18px;
  color: #496a81;
  text-align: center;
  font-family: "Dela Gothic One", cursive; }

div .ulMediosDePago {
  list-style: none;
  text-align: center;
  margin: 2%; }

div .liMediosDePago {
  margin: 4.5%;
  font-weight: bold;
  color: white;
  font-size: 18px; }

div span {
  display: flex;
  flex-direction: column;
  font-size: 16px; }

div h4 {
  margin-top: 3%;
  font-size: 18px;
  color: #496a81;
  text-align: center;
  font-family: "Dela Gothic One", cursive; }

div .parrafoMediosDePago {
  color: white;
  text-align: center;
  margin-top: 2%;
  font-size: 18px; }

div .diasHabiles {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold; }

.containerSobreNosotros {
  display: grid;
  grid-template-areas: "textSobreNosotros imgSobreNosotros imgSobreNosotros" "imgSobreNosotros1 imgSobreNosotros2 imgSobreNosotros3" "tituloCalidad tituloPrecios tituloSeguridad" "calidad precios seguridad";
  justify-content: center;
  margin-top: 5%; }
  .containerSobreNosotros h3 {
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 15%;
    text-align: center; }
  .containerSobreNosotros .textSobreNosotros {
    text-align: center;
    grid-area: textSobreNosotros;
    color: white;
    font-weight: bold; }
  .containerSobreNosotros .spanSobreNosotros {
    margin-top: 20px; }
  .containerSobreNosotros .imgSobreNosotros {
    grid-area: imgSobreNosotros; }
  .containerSobreNosotros .imgInicioSobreNosotros {
    width: 100%;
    height: 60vh; }
  .containerSobreNosotros .imgSobreNosotros1 {
    grid-area: imgSobreNosotros1; }
  .containerSobreNosotros .imgManiqui {
    margin-left: 35%;
    width: 25%; }
  .containerSobreNosotros .imgSobreNosotros2 {
    grid-area: imgSobreNosotros2; }
  .containerSobreNosotros .imgEtiqueta {
    margin-left: 35%;
    width: 25%; }
  .containerSobreNosotros .imgSobreNosotros3 {
    grid-area: imgSobreNosotros3; }
  .containerSobreNosotros .imgCandado {
    margin-left: 35%;
    width: 25%; }
  .containerSobreNosotros .tituloCalidad {
    text-align: center;
    grid-area: tituloCalidad; }
  .containerSobreNosotros .tituloPrecios {
    text-align: center;
    grid-area: tituloSeguridad; }
  .containerSobreNosotros .tituloSeguridad {
    text-align: center;
    grid-area: tituloSeguridad; }
  .containerSobreNosotros .calidad {
    text-align: center;
    color: white;
    font-weight: bold;
    grid-area: calidad; }
  .containerSobreNosotros .precios {
    text-align: center;
    color: white;
    font-weight: bold;
    grid-area: precios; }
  .containerSobreNosotros .seguridad {
    text-align: center;
    color: white;
    font-weight: bold;
    grid-area: seguridad; }

@media screen and (max-width: 900px) {
  .containerImg {
    display: grid;
    grid-template-areas: "loNuevo loNuevo" "boxImg1 boxImg2" "boxImg3 boxImg4" "inicioCategorias inicioCategorias" "boxImg5 boxImg6" "boxImg7 boxImg8" "loMasVendido loMasVendido" "boxImg9 boxImg10" "boxImg11 boxImg12";
    justify-content: center;
    row-gap: 10px; }
  .lines-effects {
    display: inline-block;
    position: relative; }
  .lines-effects::after,
  .lines-effects::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: #444444;
    top: 0.6em; }
  .lines-effects::before {
    left: -10px; }
  .lines-effects::after {
    right: -10px; }
  .img-nav {
    display: none; }
  .titulo-nav {
    display: block; }
  .descuento {
    width: 100%;
    height: 100%; }
  .imgCategorias {
    margin-left: 20%;
    width: 70%; }
  .imgNuevo {
    margin-left: 20%;
    width: 70%; }
  .imgloMasVendido {
    margin-left: 20%;
    width: 70%; }
  .containerCategorias {
    display: none; }
  .containerFiltros {
    display: none; }
  .containerCatalogo {
    display: grid;
    grid-template-areas: "cajaImg1 cajaImg2 cajaImg3" "parrafo1 parrafo2 parrafo3" "cajaImg4 cajaImg5 cajaImg6" "parrafo4 parrafo5 parrafo6" "cajaImg7 cajaImg8 cajaImg9" "parrafo7 parrafo8 parrafo9" "cajaImg10 cajaImg11 cajaImg12" "parrafo10 parrafo11 parrafo12";
    justify-content: center;
    gap: 10px;
    row-gap: 20px; }
  .tituloCatalogo {
    font-size: 25px; }
  img {
    margin-left: 10px;
    width: 100%;
    height: 100%; }
  .tituloMediosDePago {
    font-size: 25px; }
  .subTituloPagos {
    font-size: 16px; }
  .liMediosDePago {
    font-size: 14px; }
  h4 {
    font-size: 16px; }
  .parrafoMediosDePago {
    font-weight: bold;
    font-size: 14px; }
  .containerSobreNosotros {
    display: grid;
    grid-template-areas: "textSobreNosotros textSobreNosotros textSobreNosotros" "imgSobreNosotros imgSobreNosotros imgSobreNosotros" "imgSobreNosotros1 imgSobreNosotros2 imgSobreNosotros2" "tituloCalidad tituloPrecios imgSobreNosotros3" "tituloSeguridad tituloSeguridad tituloSeguridad" "calidad precios seguridad";
    justify-content: center; }
  .imgInicioSobreNosotros {
    width: 100%;
    height: 50vh; }
  .imgManiqui {
    width: 35%;
    margin-left: 40%; }
  .imgEtiqueta {
    width: 20%; }
  .imgCandado {
    width: 25%; } }

@media screen and (max-width: 600px) {
  .tituloIndex {
    color: white;
    text-align: center; }
  .imgMenuMobileC {
    width: 15%; }
  .lines-effects {
    display: inline-block;
    position: relative; }
  .lines-effects::after,
  .lines-effects::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: #444444;
    top: 0.6em; }
  .lines-effects::before {
    left: -120px; }
  .lines-effects::after {
    right: -120px; }
  .containerImg {
    display: grid;
    grid-template-areas: "loNuevo" "boxImg1" "boxImg2" "boxImg3" "boxImg4" "inicioCategorias" "boxImg5" "boxImg6" "boxImg7" "boxImg8" "loMasVendido" "boxImg9" "boxImg10" "boxImg11" "boxImg12";
    justify-content: center; }
  .imgMenu {
    display: block;
    margin-left: 25%; }
  .imgCategorias {
    margin-left: 25%;
    width: 50%; }
  .imgNuevo {
    margin-left: 25%;
    width: 50%; }
  .imgloMasVendido {
    margin-left: 25%;
    width: 50%; }
  .navLabel {
    display: block;
    cursor: pointer; }
  .nav {
    display: flex;
    justify-content: center; }
  .navMenu {
    position: absolute;
    top: 80px;
    bottom: 0;
    background-color: white;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    opacity: 0.9; }
  .navInput:checked + .navMenu {
    clip-path: circle(100% at center); }
  .containerCategorias {
    display: none; }
  .containerFiltros {
    display: none; }
  .containerCatalogo {
    display: grid;
    grid-template-areas: "cajaImg1 cajaImg2" "parrafo1 parrafo2" "cajaImg3 cajaImg4" "parrafo3 parrafo4" "cajaImg5 cajaImg6" "parrafo5 parrafo6" "cajaImg7 cajaImg8" "parrafo7 parrafo8" "cajaImg9 cajaImg10" "parrafo9 parrafo10" "cajaImg11 cajaImg12" "parrafo11 parrafo12";
    justify-content: center;
    gap: 10px;
    row-gap: 20px; }
  .tituloMediosDePago {
    font-size: 20px; }
  .subTituloPagos {
    font-size: 14px; }
  .liMediosDePago {
    font-size: 12px; }
  h4 {
    font-size: 14px; }
  .parrafoMediosDePago {
    font-weight: bold;
    font-size: 12px; }
  .diasHabiles {
    font-size: 16px; }
  .containerSobreNosotros {
    display: grid;
    grid-template-areas: "textSobreNosotros " "imgSobreNosotros" "imgSobreNosotros1" "tituloCalidad" "calidad" "imgSobreNosotros2" "tituloPrecios" "precios" "imgSobreNosotros3" "tituloSeguridad" "seguridad";
    justify-content: center; }
  .imgInicioSobreNosotros {
    width: 100%;
    height: 40vh; }
  .imgManiqui,
  .imgEtiqueta,
  .imgCandado {
    width: 15%;
    margin-left: 40%; }
  .tituloCalidad,
  .tituloPrecios,
  .tituloSeguridad {
    font-size: 20px; }
  .calidad,
  .precios,
  .seguridad {
    font-size: 14px; } }
