
body{
    background-color:black;
}

/*estilos index*/

.lines-effects{
    display: inline-block;
    position: relative;
}

.lines-effects::after,.lines-effects::before{
    content:'';
    position: absolute;
    width: 200px;
    height: 3px;
    background-color: gray;
    top: 0.6em;
}

.lines-effects::before{
    left:600px;
}

.lines-effects::after{
    right:600px;
}

.container-nuevo:hover{
    transform: scale(1.07);
    transition: 0.3s;
}

.container-vendido:hover{
    transform: scale(1.07);
    transition: 0.3s;
}

.botones-redes{
    margin-right: 3.5rem;
}


label{
    margin: 10px;
    color: white;
    font-weight: bold;
}

p{
    color: white;
    margin: 10px;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .imgManiqui{
    margin-left: 25%;
    width: 50%;
}

.imgEtiqueta{
    margin-left: 25%;
    width: 50%;
}

.imgCandado{
    margin-left: 25%;
    width: 50%;
}